<settings>
    <grinders>
        <grinder>
            <name>Timemore C3</name>
            <description>Some desc</description>
            <grindSettings>
                <setting>
                    <brewingMethod>Aeropress</brewingMethod>
                    <min>10</min>
                    <max>12</max>
                </setting>
                <setting>
                    <brewingMethod>Espresso</brewingMethod>
                    <min>6</min>
                    <max>8</max>
                </setting>
                <setting>
                    <brewingMethod>Moka Pot</brewingMethod>
                    <min>7</min>
                    <max>9</max>
                </setting>
                <setting>
                    <brewingMethod>French Press</brewingMethod>
                    <min>10</min>
                    <max>15</max>
                </setting>
            </grindSettings>
        </grinder>
    </grinders>
    <recipes>
        <recipe>
            <name>Test A</name>
            <description>Description</description>
            <coffee>Ethiopia</coffee>
            <grind>Medium-Fine</grind>
            <totalWater>300</totalWater>
            <totalTime>210</totalTime>
            <steps>
                <step>
                    <duration>30</duration>
                    <water>60</water>
                    <stepInfo>Bloom</stepInfo>
                </step>
                <step>
                    <duration>180</duration>
                    <water>240</water>
                    <stepInfo>Brew on closed valve</stepInfo>
                </step>
            </steps>
        </recipe>
        <recipe>
            <name>Test B</name>
            <description>Description</description>
            <coffee>Ethiopia</coffee>
            <grind>Medium-Fine</grind>
            <totalWater>300</totalWater>
            <totalTime>210</totalTime>
            <steps>
                <step>
                    <duration>30</duration>
                    <water>60</water>
                    <stepInfo>Bloom</stepInfo>
                </step>
                <step>
                    <duration>180</duration>
                    <water>240</water>
                    <stepInfo>Brew on closed valve</stepInfo>
                </step>
            </steps>
        </recipe>
    </recipes>
</settings>
